* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url(../img/MAIN\ IMAGE.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}

.navbar-toggler-icon {
    background-color: white;
    width: 20px;
    height: 20px;
    border: none;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.list a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    list-style: none;
}

.list li {
    padding-left: 50px;
}

.list a:hover {
    color: yellow;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.welcome h1 {
    font-size: 70px;
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 70px;
}

.welcome h3 {
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.read-more {
    padding-top: 70px;
}

.read-more a {
    text-decoration: none;
    color: white;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.animate {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-top: 70px;
    margin: 0 20px 0 20px;
}

@media only screen and (max-width:300px) {
    .topnav {
        margin-left: 2px;
        font-size: 6px;
    }

    .list li {
        padding-left: 13px;
    }

    .topnav img {
        width: 50px;
        height: 10px;
    }

    .topnav {
        padding: 10px;
    }

    .main {
        background-image: url(../img/MAIN\ IMAGE.jpg);
        background-size: cover;
        width: 100%;
        height: 230px;
        background-position: center;
    }

    .welcome h1 {
        font-size: 25px;
        line-height: 28px;
    }

    .welcome h3 {
        font-size: 15px;
    }

    .welcome {
        padding-top: 25px;
    }

    .read-more {
        padding-top: 20px;
    }

    .read-more a {
        padding: 8px;
        font-size: 10px;
    }

    .animate {
        font-size: 8px;
        padding-top: 30px;
    }
}

@media only screen and (min-width:301px) {
    .topnav {
        margin-left: 2px;
        font-size: 9px;
    }

    .list li {
        padding-left: 13px;
    }

    .topnav img {
        width: 60px;
        height: 15px;
    }

    .topnav {
        padding: 10px;
    }

    .main {
        background-image: url(../img/MAIN\ IMAGE.jpg);
        background-size: cover;
        width: 100%;
        height: 260px;
        background-position: center;
    }

    .welcome h1 {
        font-size: 35px;
        line-height: 32px;
    }

    .welcome h3 {
        font-size: 15px;
    }



    .welcome {
        padding-top: 20px;
    }

    .read-more {
        padding-top: 20px;
    }

    .read-more a {
        padding: 8px;
        font-size: 10px;
    }

    .animate {
        font-size: 8px;
        padding-top: 30px;
    }
}

@media only screen and (min-width:320px) {

    .topnav {
        margin-left: 2px;
        font-size: 9px;
    }

    .list li {
        padding-left: 13px;
    }

    .topnav img {
        width: 60px;
        height: 15px;
    }

    .topnav {
        padding: 8px;
    }

    .main {
        background-image: url(../img/MAIN\ IMAGE.jpg);
        background-size: cover;
        width: 100%;
        height: 270px;
        background-position: center;
    }

    .welcome h1 {
        font-size: 35px;
        line-height: 30px;
    }

    .animate {
        padding-top: 40px;
    }
}

@media only screen and (min-width:368px) {
    .topnav {
        margin-left: 2px;
        font-size: 9px;
    }

    .list li {
        padding-left: 13px;
    }

    .topnav img {
        width: 60px;
        height: 15px;
    }

    .topnav {
        padding: 10px;
    }

    .main {
        background-image: url(../img/MAIN\ IMAGE.jpg);
        background-size: cover;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .welcome h1 {
        font-size: 30px;
        line-height: 28px;
    }

    .welcome h3 {
        padding-top: 40px;
        font-size: 15px;
    }


    .welcome {
        padding-top: 15px;
    }

    .read-more {
        padding-top: 30px;
    }

    .read-more a {
        padding: 8px;
        font-size: 10px;
    }

    .animate {
        font-size: 8px;
        padding-top: 35px;
    }
}

@media only screen and (min-width:400px) {
    .topnav {
        margin-left: 2px;
        font-size: 9px;
    }

    .list li {
        padding-left: 13px;
    }

    .topnav img {
        width: 60px;
        height: 15px;
    }

    .topnav {
        padding: 10px;
    }

    .main {
        background-image: url(../img/MAIN\ IMAGE.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
        background-position: center;
    }

    .welcome h1 {
        font-size: 35px;
        line-height: 30px;
    }

    .welcome h3 {
        font-size: 18px;
    }

    .welcome {
        padding-top: 15px;
    }

    .read-more {
        padding-top: 45px;
    }

    .read-more a {
        padding: 10px;
        font-size: 11px;
    }

    .animate {
        font-size: 10px;
        padding-top: 60px;
    }
}

@media only screen and (min-width:500px) {
    .main {
        height: 300px;
    }

    .welcome h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .welcome h3 {
        font-size: 18px;
    }

    .welcome {
        padding-top: 15px;
    }

    .read-more {
        padding-top: 35px;
    }

    .read-more a {
        padding: 10px;
        font-size: 11px;
    }

    .animate {
        font-size: 10px;
        padding-top: 40px;
    }
}

@media only screen and (min-width:700px) {
    .main {
        height: 350px;
    }

    .welcome h1 {
        font-size: 50px;
        line-height: 45px;
    }

    .welcome h3 {
        font-size: 20px;
    }

    .welcome {
        padding-top: 35px;
    }

    .read-more {
        padding-top: 35px;
    }

    .read-more a {
        padding: 10px;
        font-size: 12px;
    }

    .animate {
        font-size: 10px;
        padding-top: 50px;
    }
}

@media only screen and (min-width:900px) {
    .main {
        height: 400px;
    }

    .welcome h1 {
        font-size: 62px;
        line-height: 65px;
    }

    .welcome h3 {
        font-size: 35px;
    }

    .welcome {
        padding-top: 35px;
    }

    .read-more {
        padding-top: 35px;
    }

    .read-more a {
        padding: 10px;
        font-size: 15px;
    }

    .animate {
        font-size: 10px;
        padding-top: 45px;
    }
}

@media only screen and (min-width:1200px) {
    .main {
        height: 500px;
    }

    .welcome h1 {
        font-size: 70px;
        line-height: 65px;
    }

    .welcome h3 {
        font-size: 35px;
    }

    .welcome {
        padding-top: 65px;
    }

    .read-more {
        padding-top: 45px;
    }

    .read-more a {
        padding: 15px;
        font-size: 20px;
    }

    .animate {
        font-size: 15px;
        padding-top: 85px;
    }
}








/* Welcome Page (Hello Guys) */


.welcome-page {
    width: 100%;
    height: 500px;
    background-color: rgb(235, 235, 235);
    padding: 40px;
}

.welcome1 {
    width: 100%;
    height: 425px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    align-items: center;
    display: flex;
    padding: 30px;
    font-weight: lighter;
    text-align: justify;
}

@media only screen and (max-width:300px) {
    .welcome-page {
        padding: 20px;
        height: 470px;
    }

    .welcome1 {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 15px;


    }

    .welcome-pic {
        background-image: url(../img/img\ 1.jpg);
        background-size: cover;
        width: 100%;
        height: 180px;
        margin-top: 15px;
    }
}

@media only screen and (min-width:301px) {
    .welcome-page {
        padding: 20px;
        height: 590px;
    }

    .welcome1 {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        padding: 15px;
        text-justify: auto;
        height: 550px;
    }

    .welcome-pic {
        background-image: url(../img/img\ 1.jpg);
        background-size: cover;
        width: 100%;
        height: 200px;
        margin-top: 15px;
    }
}

@media only screen and (min-width:400px) {

    .welcome-pic {
        background-image: url(../img/img\ 1.jpg);
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-top: 15px;
    }
}

@media only screen and (min-width:500px) {
    .welcome-page {
        padding: 20px;
        height: 590px;
    }

    .welcome-pic {
        background-image: url(../img/img\ 1.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
        margin-top: 15px;
    }
}

@media only screen and (min-width:700px) {
    .welcome-page {
        padding: 30px;
        height: 320px;
    }

    .welcome1 {
        display: flex;
        flex-direction: row;
        font-size: 11px;
        height: 280px;
        gap: 20px;

    }

    .welcome-pic {
        background-image: url(../img/img\ 1.jpg);
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-top: 1px;
    }
}

@media only screen and (min-width:900px) {
    .welcome-page {
        padding: 30px;
        height: 320px;
    }

    .welcome1 {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        height: 290px;
        gap: 20px;

    }


}

@media only screen and (min-width:1200px) {
    .welcome-page {
        padding: 30px 70px 30px 70px;
        height: 410px;
    }

    .welcome1 {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        height: 350px;
        gap: 30px;

    }

    .welcome-pic {
        background-image: url(../img/img\ 1.jpg);
        background-size: cover;
        width: 400px;
        height: 300px;
        margin-top: 1px;
    }
}


/* founder section  */


.founder {
    width: 100%;
    height: 400px;
    background-color: rgba(10, 0, 104, 0.404);
    display: flex;
    align-items: center;
    justify-content: center;
}

.found {
    width: 90%;
    height: 300px;
    border: 1px solid rgb(172, 172, 172);
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.pst-img {
    /* border: 1px solid black; */
    width: 230px;
    height: 230px;
    border-radius: 130px;
    background-image: url(../img/pst\ sam.JPG);
    background-size: cover;
    background-position: center;

}

.sam-text {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: justify;
}

@media only screen and (max-width:300px) {
    .founder {
        width: 100%;
        height: 600px;
        background-color: rgba(10, 0, 104, 0.13);
    }

    .found {
        width: 90%;
        height: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .pst-img {
        width: 100px;
        height: 100px;

    }

    .sam-text {
        font-size: 12px;
        color: black;
    }
}

@media only screen and (min-width:301px) {
    .founder {
        width: 100%;
        height: 600px;
        background-color: rgba(10, 0, 104, 0.13);
    }

    .found {
        width: 90%;
        height: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .pst-img {
        width: 100px;
        height: 100px;

    }

    .sam-text {
        font-size: 12px;
        color: black;
    }
}

@media only screen and (min-width:342px) {
    .founder {
        width: 100%;
        height: 525px;
    }

    .found {
        width: 90%;
        height: 500px;
    }

}

@media only screen and (min-width:375px) {
    .sam-text {
        font-size: 12px;
    }

    .founder {
        width: 100%;
        height: 550px;
    }

    .found {
        width: 90%;
        height: 525px;
    }
}

@media only screen and (min-width:400px) {

    .founder {
        width: 100%;
        height: 550px;
    }

    .found {
        width: 90%;
        height: 500px;
    }
}

@media only screen and (min-width:500px) {
    .sam-text {
        font-size: 13px;
    }

    .founder {
        width: 100%;
        height: 600px;
    }

    .found {
        width: 90%;
        height: 575px;
    }

    .pst-img {

        width: 180px;
        height: 180px;
    }
}

@media only screen and (min-width:700px) {
    .sam-text {
        font-size: 15px;
    }
}

@media only screen and (min-width:900px) {
    .sam-text {
        font-size: 16px;
    }
}

@media only screen and (min-width:1200px) {

    .pst-img {
        width: 230px;
        height: 230px;

    }

    .sam-text {
        font-size: 16px;
        color: black;
    }

    .found {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    .founder {
        height: 400px;
    }

}

@media only screen and (min-width:1500px) {

    .sam-text {
        font-size: 18px;
        color: black;
    }

    .found {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    .founder {
        height: 400px;
    }
}







/* footer section */

.footer {
    width: 100%;
    padding: 40px;
    background-color: rgb(192, 192, 192);
    height: 425px;
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    justify-content: center;
    font-size: 14px;
    line-height: 40px;
}

.contact p {
    color: #010053;
}

.contact a {
    text-decoration: none;
    color: rgb(173, 0, 0);
    margin-right: 10px;
}

.Service1 {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.input input {
    width: 300px;
    padding: 8px;
    margin-top: 10px;
    border: none;
    outline-color: blue;
}

.input button {
    margin-top: 10px;
    background-color: rgb(24, 0, 158);
    color: white;
    font-size: large;
    border: none;
}

.line {
    width: 90%;
    display: flex;
    justify-content: center;
    height: 1px;
    background-color: gray;
    margin-top: 40px;
}

.copyright {
    margin-top: 20px;
    font-size: 13px;
}

@media only screen and (max-width:300px) {
    .footer {
        width: 100%;
        padding-left: 20px;
        padding-top: 5px;
        height: 790px;
    }

    .contact {
        display: block;
        font-size: 12px;
        line-height: 20px;
    }

    .contact h5 {
        padding-top: 30px;
    }

    .input input {
        width: 260px;
    }

    .input button {
        width: 260px;
        height: 40px;
    }

    .line {
        width: 260px;
        margin-top: 30px;
    }

    .copyright {
        margin-top: 10px;
        font-size: 9px;
    }

}

@media only screen and (min-width:301px) {
    .footer {
        width: 100%;
        padding-left: 20px;
        padding-top: 5px;
        height: 790px;
    }

    .contact {
        display: block;
        font-size: 12px;
        line-height: 20px;
    }

    .contact h5 {
        padding-top: 30px;
    }

    .input input {
        width: 100%;
    }

    .input button {
        width: 100%;
        height: 40px;
    }

    .line {
        width: 100%;
        margin-top: 30px;
    }

    .copyright {
        margin-top: 10px;
        font-size: 9px;
    }
}

@media only screen and (min-width:700px) {}

@media only screen and (min-width:900px) {
    .footer {
        width: 100%;
        padding: 20px 80px;
        height: 360px;
    }

    .contact {
        display: flex;
        gap: 60px;
        
    }
    .input input {
        width: 100%;
    }

    .input button {
        width: 300px;
        height: 40px;
    }

    .line {
        width: 100%;
        margin-top: 30px;
    }

    .copyright {
        margin-top: 10px;
        font-size: 12px;
    }
}

@media only screen and (min-width:1200px) {
    .footer {
        width: 100%;
        padding: 20px 80px;
        height: 360px;
    }

    .contact {
        display: flex;
        gap: 100px;
        
    }
    .input input {
        width: 100%;
    }

    .input button {
        width: 300px;
        height: 40px;
    }

    .line {
        width: 100%;
        margin-top: 30px;
    }

    .copyright {
        margin-top: 10px;
        font-size: 12px;
    }
}

@media only screen and (min-width:1300px) {
    .footer {
        width: 100%;
        padding: 20px 80px;
        height: 400px;
    }

    .contact {
        display: flex;
        gap: 100px;
        font-size: 16px;
        line-height: 30px;
    }
    .input input {
        width: 100%;
    }

    .input button {
        width: 300px;
        height: 40px;
    }

    .line {
        width: 100%;
        margin-top: 30px;
    }

    .copyright {
        margin-top: 10px;
        font-size: 13px;
    }
}